@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Raleway&display=swap');

* {
    scroll-behavior: smooth;
}

.container{
    max-width: 992px;
    margin: 20px auto 20px auto;
    font-family: 'Raleway';
}

h1,h2{
    font-family: 'Mandali';
}

header{
    background: url(../img/yogamat.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

header h1{
    letter-spacing: 3px;
    font-size: 60px;
    margin: 0;
}

header p{
    margin-top: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#menu-item a:nth-child(2){
    margin-right: 10px;
    margin-left: 10px;
}

#button-header{
    padding-bottom: 100px;
}

.button{
    background-color: white;
    color: black !important;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px gray;
}

#concept h2{
    color: #6E8E9B;
    margin: 30px 0;
}

#concept h3{
    font-weight: bold;
}

.trait-bleu{
    height: 40px;
    width: 1px;
    font-family: 'Mandali';
    border-left: solid 2px #6E8E9B;
    border-radius: 50px;
    margin-bottom: 30px;
}

#concept article{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#concept img{
    background-color: white;
    border-radius: 50px;
    width: 55px;
    height: 55px;
    box-shadow: 2px 2px 10px gray;
    padding: 15px;
    margin: 0 40px;
}

#cours h2{
    color: #6E8E9B;
    margin-bottom: 30px;
}

#cours article{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cours article section{
    margin-left: 30px;
}

#cours img{
    width: 250px;
    aspect-ratio: 1/1;
}

#contact h2{
    color: #6E8E9B;
}

#contact .trait-bleu{
    margin: 30px 0;
}

#rappel{
    display: flex;
    align-items: center;
}

form{
    margin-bottom: 50px;
}

form p{
    margin-right: 30px;
}

form a:nth-child(3){
    margin: 0 20px;
}

form section{
    margin-bottom: 10px;
}

input{
    padding: 5px 10px;
    width: 350px;
    border-radius: 40px;
    margin-bottom: 10px;
    border: solid 1px gray;
    box-shadow: inset 2px 2px 1px lightgrey;
}

#interesse{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

#interesse p {
    margin: 0 10px 0 0;
}

footer{
    background-color: #6E8E9B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
}

@media (max-width: 991px) and (min-width: 768px){
    .container{
        margin-right: 20px;
        margin-left: 20px;
    }

    nav img{
        width: 40px;
        height: auto;
    }

    #concept article:nth-child(3), #concept article:nth-child(5){
        flex-direction: row-reverse;
    }
}

@media (max-width: 767px) {

    .container{
        margin-right: 20px;
        margin-left: 20px;  
    }

    nav img{
        width: 30px;
        height: auto;
    }

    #concept article{
        flex-direction: column-reverse;
        text-align: center;
    }

    #concept article:nth-child(4){
        flex-direction: column;
    }

    #cours article {
        align-items: flex-start;
    }

    #cours img{
        width: 150px;
    }
}